.createProject {
    h2 {
        @include render-title();
    }
    form {
        .text-field {
            position: relative;
            margin-bottom: $m-2;
            label {
                display: inline-block;
                font-weight: 600;
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 10px;
                background-color: $c-3;
                padding: 1px 5px;
                font-size: 12px;
                transform: translateY(-50%);
                color: $c-4;
            }

            input {
                padding: 10px;
                display: block;
                width: 100%;
                font-size: 14px;
                border: 1px solid $bg-1;
                border-radius: 4px;
                background-color: transparent;
                color: $c-4;
            }
            .text-field-error {
                font-size: $fz-xs;
                color: red;
                margin: 0;
                padding: 0;
            }
        }

        .textEditor {
            font-size: $fz-sm;
            font-weight: $fw-regular;
            margin-bottom: $m-1;
        }
        .quill {
            margin-bottom: $m-2;
            .ql-toolbar:first-child {
                display: none;
            }
            .ql-container {
                min-height: 200px;
            }
        }
        .projectCategory {
            margin-bottom: $m-2;
            .projectCategory__select {
                width: 100%;
                border: 1px solid #000;
                padding: 5px 10px;
                font-size: $fz-sm;
            }
            .projectCategory__option {
                width: 100%;
                border: 1px solid #000;
                padding: 5px 10px;
                font-size: $fz-xs;
            }
        }
    }
    button {
        max-width: 150px;
        font-size: $fz-sm;
    }
}
