.formCreateEditTask {
    overflow: auto;
    h2 {
        @include render-title();
    }
    button {
        max-width: 150px;
        font-size: $fz-sm;
    }
    .formCreateEditTask-flex {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: $gap-1;
        .formCreateEditTask-flexItem {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
        }
    }
    .formCreateEditTask__column {
        .formCreateEditTask__fieldTitle {
            display: inline-block;
            margin-bottom: 5px;
            font-weight: $fw-medium;
            font-size: $fz-xs;
        }
    }
}
.ant-slider-handle {
    border-color: #001529;
    display: none;
    &:hover,
    &:focus,
    &:active {
        border-color: #001529;
    }
}
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #001529;
}
