//Background

$bg-1: #181f48;
$bg-2: #fff;
$bg-3: #e4e8f1;

//Color
$c-1: #192134;
$c-2: #c8ccda;
$c-3: #fff;
$c-4: #000;
$c-5: #ccc;

//Gap
$gap-1: 10px;
$gap-2: 20px;

//Font-size
$fz-xxs: 0.7rem;
$fz-xs: 0.8rem;
$fz-sm: 1rem;
$fz-md: 1.6rem;
$fz-xl: 2rem;
$fz-2xl: 3rem;
$fz-3xl: 4rem;

//Font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;

//Margin
$m-1: 10px;
$m-2: 20px;
$m-3: 30px;
$m-4: 40px;

//Padding
$p-1: 10px;
$p-2: 20px;
$p-3: 30px;
$p-4: 40px;
